  <!-- ======= Doctors Section ======= -->
  <section id="professores" class="doctors">
    <div class="container">

      <div class="section-title">
        <h2>Professores</h2>
        <p>Esses são os professores mais bem avaliados do curso, segundo os alunos.</p>
      </div>

      <div class="row">
      <% @teachers.each do |teacher| %>
        <div class="col-lg-4">
          <div class="member d-flex align-items-start">
            <div class="member-info">
              <h4><%= teacher.name %></h4>
              <span><%= teacher.overallGrade %></span>
              <p><%= teacher.position %></p>
              <div class="social">
                <span class='p-2' data-toggle="tooltip" data-placement="top" title="Lattes">
                  <%= link_to "#{ teacher.lattes }", target: "_blank" do %>
                      <i class="fa-solid fa-building-columns"></i>
                  <% end %>
                </span>
                <span class='cursor_pointer p-2' onclick="copyEmail(<%= teacher.email.to_json %>)" data-toggle="tooltip" data-placement="top" title="Copiar email">
                  <a><i class="fa-regular fa-envelope"></i></a>
                </span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section><!-- End Doctors Section -->

<%= render 'shared/toastSucessoCopiaEmail' %>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

  // copy email function
  function copyEmail(text) {
    navigator.clipboard.writeText(text);
    $('#copiedToast').toast('show');
    setTimeout(function () {
        $('#copiedToast').toast('hide');
    }, 2000);
  }
</script>