<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex justify-content-between align-items-center">

        <%= link_to root_path, class: "" do %>
            <h1 class="logo me-auto">Profscore</h1>
        <% end %>

        <div class='d-flex align-items-center'>
            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><%= link_to 'Home', root_path, class: "nav-link scrollto #{'active' if current_page?(root_path)}" %></li>
                    <li><%= link_to 'Professores', teachers_path, class: "nav-link scrollto #{'active' if current_page?(teachers_path)}" %></li>
                    <li><%= link_to 'Disciplinas', subjects_path, class: "nav-link scrollto #{'active' if current_page?(subjects_path)}" %></li>
                </ul>
            </nav>
            
            <div>
                <% if user_signed_in? %>
                    <div class='d-flex'>
                        <%= link_to new_evaluation_path, class: "appointment-btn scrollto" do %>
                            Avaliar
                        <% end %>
                        <div class="dropdown">
                            <i class="fa-solid fa-user profile-btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></i>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><%= link_to 'Deslogar', destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
                                <li><%= link_to 'Minha conta', edit_user_registration_path, class: "dropdown-item" %></li>
                            </ul>
                        </div>
                    <div>
                <% else %>
                    <%= link_to new_user_session_path, class: "appointment-btn scrollto" do %>
                        Login
                    <% end %>
                <% end %>
            </div>
        </div>

    </div>
</header>
<!-- End Header -->
