<main id="main">
  <!-- ======= Breadcrumbs Section ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Professores</h2>
        <ol>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Professores', teachers_path %></li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs Section -->

  <section class="inner-page">
    <div class="container">
      <div class="teachers-grid">
        <% @teachers.each do |teacher| %>
          <div class="card">
            <div class="card-body">
              <div class='d-flex justify-content-between'>
                
                <%= link_to teacher_path(teacher), class: 'card-title' do %>
                  <h5 class="card-title"><%= teacher.name %></h5>
                <% end %>
                <h5 class="card-title mx-2"><%= teacher.overallGrade %></h5>
              </div>
              <h6 class="card-subtitle mb-2 text-muted"><%= teacher.position %></h6>
              <%= link_to "#{ teacher.lattes }", target: "_blank" do %>
                  <i class="fa-solid fa-building-columns pt-2" data-toggle="tooltip" data-placement="top" title="Lattes"></i>
              <% end %>
              <span class="span-email color-default" onclick="copyEmail(<%= teacher.email.to_json %>)" data-toggle="tooltip" data-placement="top" title="Copiar email">
                  <i class="fa-regular fa-envelope"></i>
              </span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>

</main>

<!-- Toast Modal -->
<div class="toast toast-copied bg-success" id="copiedToast">
  <div class="toast-header">
      <strong class="mr-auto">Sucesso!</strong>
  </div>
  <div class="toast-body text-white">
      O email foi copiado para sua área de transferência.
  </div>
</div>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

  // copy email function
  function copyEmail(text) {
    navigator.clipboard.writeText(text);
    $('#copiedToast').toast('show');
    setTimeout(function () {
        $('#copiedToast').toast('hide');
    }, 2000);
  }
</script>