<main id="main">
  <!-- ======= Breadcrumbs Section ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <%= link_to teachers_path do %>
              <i class="fa-solid fa-arrow-left p-2 text-dark" data-toggle="tooltip" data-placement="top" title="Votar"></i>
          <% end %>
          <h2><%= @teacher.name %></h2>
        </div>
        <ol>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Professores', teachers_path %></li>
          <li><%= link_to "#{@teacher.name}", teacher_path(@teacher) %></li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs Section -->

  <section class="inner-page">
    <div class="container">
      <div class='row'>
        <div class="col-lg-4 col-sm-12 d-flex flex-column">
          <div class="d-flex">
            <span class='grade color-default mx-2'><%= @teacher.overallGrade %></span>
            <span class='color-secondary pt-4 mx-2'> / 10</span>
          </div>
          <small> Baseado em <%= @teacher.evaluations.count %> avaliacoes </small>
        </div>
      </div>

      <% @teacher.evaluations.each do |eval| %>
        <div class="row d-flex justify-content-center">
          <div class="card my-4 col-9">
            <div class="card-body">
              <div class='d-flex justify-content-start'>
                <div class="overall-grade mx-3 col-1 text-center align-content-center">
                  <%= eval.overallGrade %>
                </div>
                <div class="d-flex flex-column col-10">
                  <div class="row">
                    <span class="col-6"> Compreensivo: <%= eval.externalThings ? "Sim" : "Nao" %> </span>
                    <span class="col-6"> Domina a materia: <%= eval.goodKnoledge ? "Sim" : "Nao" %> </span>
                  </div>
                  <div class="row">
                    <span class="col-6"> Recomendaria: <%= eval.takeAgain ? "Sim" : "Nao" %> </span>
                    <span class="col-6"> Reprova por falta: <%= eval.attendenceDemand ? "Sim" : "Nao" %> </span>
                  </div>
                  <div class="row">
                    <span class="col-6"> Tempo bem utilizado: <%= eval.usedTime ? "Sim" : "Nao" %> </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>



    </div>
  </section>

</main>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>  