<main id="main">
  <!-- ======= Breadcrumbs Section ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <%= link_to teachers_path do %>
              <i class="fa-solid fa-arrow-left p-2 text-dark" data-toggle="tooltip" data-placement="top" title="Votar"></i>
          <% end %>
          <h2><%= @teacher.name %></h2>
        </div>
        <ol>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Professores', teachers_path %></li>
          <li><%= link_to "#{@teacher.name}", teacher_path(@teacher) %></li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs Section -->

  <section class="inner-page">
    <div class="container">
      <div class='row'>
        <div class="col-lg-3 col-sm-12 d-flex flex-column align-items-end px-5 mb-3">
          <div class="d-flex">
            <span class='grade color-default mx-2'><%= @teacher.overallGrade %></span>
            <span class='color-secondary pt-4 mx-2'> / 10</span>
          </div>
          <small> Baseado em <%= @totEvaluations %> avaliações </small>
        </div>

        <div class="col-lg-8 col-sm-12 d-flex flex-column">
          <div class="card">
            <div class="card-body">
              <h3 class="text-center mb-5">Avaliação agregada dos alunos:</h3>
              <div class="d-flex justify-content-around mb-2">
                <P class="border-dark border-bottom">Conhecimento: <span class="color-default"><%= @totTrueGoodKnoledge %> / <%= @totEvaluations %></span></p>
                <p class="border-dark border-bottom">Tempo bem utilizado: <span class="color-default"><%= @totTrueUsedTime %> / <%= @totEvaluations %></span></p>
                <p class="border-dark border-bottom">Compreensivo: <span class="color-default"><%= @totTrueExternalThings %> / <%= @totEvaluations %></span></p>
              </div>
              <div class="d-flex justify-content-around">
                <p class="border-dark border-bottom">Reprova por falta: <span class="color-default"><%= @totTrueAttendenceDemand %> / <%= @totEvaluations %></span></p>
                <p class="border-dark border-bottom">Recomendaria: <span class="color-default"><%= @totTrueTakeAgain %> / <%= @totEvaluations %></span></p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <% @teacher.evaluations.each do |eval| %>
        <div class="row d-flex justify-content-center">
          <div class="card my-4 col-9">
            <div class="card-body">
              <div class='d-flex justify-content-start'>
                <div class="col-lg-2">
                  <span class="overall-grade <%= eval.overallGrade >= 7 ? "bg-success" : eval.overallGrade <= 3 ? "bg-danger" : "bg-warning" %>"><%= eval.overallGrade %></span>
                </div>
                <div class="d-flex flex-column col-10">
                  <div class="row">
                    <span class="col-6"> Domina a materia: <span class="font-weight-bold"><%= eval.goodKnoledge ? "Sim" : "Nao" %></span></span>
                    <span class="col-6"> Tempo bem utilizado: <span class="font-weight-bold"><%= eval.usedTime ? "Sim" : "Nao" %></span></span>
                  </div>
                  <div class="row">
                    <span class="col-6"> Compreensivo: <span class="font-weight-bold"><%= eval.externalThings ? "Sim" : "Nao" %></span></span>
                    <span class="col-6"> Reprova por falta: <span class="font-weight-bold"><%= eval.attendenceDemand ? "Sim" : "Nao" %></span></span>
                  </div>
                  <div class="row">
                    <span class="col-6"> Recomendaria: <span class="font-weight-bold"><%= eval.takeAgain ? "Sim" : "Nao" %></span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>



    </div>
  </section>

</main>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>  