  <%= render 'shared/navbar' %>

    <%= render 'componentes/banner' %>

  <main id="main">

    <%= render 'componentes/servicos' %>

    <%= render 'componentes/departamentos' %>

    <%= render 'componentes/profs' %>

    <%= render 'componentes/faq' %>

  </main><!-- End #main -->

  <%= render 'shared/footer' %>