<%= render 'componentes/banner' %>

<main id="main">

  <%= render 'componentes/profs' %>

  <%= render 'componentes/departamentos' %>

  <%= render 'componentes/servicos' %>

  <%= render 'componentes/faq' %>

</main>